<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bitget | Home</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <%- include('navBar'); %>
    <style>
      body {
        background-color: rgb(204, 204, 204);
        margin: 0;
        padding: 0;
      }
      table {
        width: 50%;
        border-collapse: collapse;
      
      }

      thead {
        background-color: #333;
        color: #fff;
      }

      th,
      td {
        padding: 10px;
        border: 1px solid #333;
        text-align: center;
        width: 10%;
      }

      th {
        background-color: #333;
        color: #fff;
      }

      tr:nth-child(even) {
        background-color: #ddd;
      }
      .input-container {
        display: flex;

        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        margin-bottom: 100px;
      }

      .input-field {
        padding: 10px 20px;
        font-size: 16px;
        margin: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }

      .submit-button {
        padding: 10px 20px;
        background-color: red;
        color: #fff;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-bottom: 30px;

        margin-top: 20px;
      }
      .inputs {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 2rem;
      }
      .input-1 {
        /* display: flex; */
        justify-content: center;
        align-items: center;
      }
      .order-table {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .buttons {
        display: flex;
        flex-direction: row;
        width: 300px;
        align-items: center;
        justify-content: space-between;
      }
      .order-history-table {
      }
      .table-c {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
      }
    </style>
  </head>
  <body>
    <!-- Input Container Starts here -->
    <div class="inputs">
      <div class="input-1">
        <h2>Enter Credentials For User 1</h2>
        <input
          type="text"
          id="apiKey"
          class="input-field"
          placeholder="Enter ApiKey"
        />
        <input
          type="text"
          id="secretKey"
          class="input-field"
          placeholder="Enter SecretKey"
        />
        <input
          type="text"
          id="paraPhrase"
          class="input-field"
          placeholder="Enter ParaPhrase"
        />
      </div>
      <button type="button" id="submitButton" class="submit-button">
        Submit User:1
      </button>
      <!-- fields for Second User -->
      <div class="input-2">
        <h2>Enter Credentials For User:2</h2>
        <input
          type="text"
          id="apiKey1"
          class="input-field"
          placeholder="Enter ApiKey"
        />
        <input
          type="text"
          id="secretKey1"
          class="input-field"
          placeholder="Enter SecretKey"
        />
        <input
          type="text"
          id="paraPhrase1"
          class="input-field"
          placeholder="Enter ParaPhrase"
        />
      </div>

      <button type="button" id="submitButton1" class="submit-button">
        Submit User:2
      </button>
    </div>
    <!-- // Table  -->
    <div class="order-table">
      <h2 class="text-align: center;">Order Details For User 1</h2>

      <table id="dataTable">
        <thead>
          <tr>
            <th>accountId</th>
            <th>symbol</th>
            <th>orderId</th>
            <th>fillId</th>
            <th>orderType</th>
            <th>side</th>
            <th>fillPrice</th>
            <th>fillQuantity</th>
            <th>fillTotalAmount</th>
            <th>cTime</th>
            <th>feeCcy</th>
            <th>fees</th>
          </tr>
        </thead>
        <tbody id="dataBodyU1"></tbody>
      </table>
    </div>
    <br />
    <div class="order-table">
      <h2 class="text-align: center;">Order Details For User 2</h2>
      <table id="dataTable">
        <thead>
          <tr>
            <th>accountId</th>
            <th>symbol</th>
            <th>orderId</th>
            <th>fillId</th>
            <th>orderType</th>
            <th>side</th>
            <th>fillPrice</th>
            <th>fillQuantity</th>
            <th>fillTotalAmount</th>
            <th>cTime</th>
            <th>feeCcy</th>
            <th>fees</th>
          </tr>
        </thead>
        <tbody id="dataBodyU2"></tbody>
      </table>
      <table id = "dataTable">
        <h1>Orders Difference</h1>
        <thead>
              <tr>
              <th>Fill Price</th>
              <th>Fill Quantity </th>
              <th>Fill Total Amount </th>
              <th>Fees </th>
            </tr>
            <tbody>
              <tr>
                <td id="fill"></td>
                <td id="quantity"></td>
                <td id="total"></td>
                <td id="fee"></td>
              </tr>
            </tbody>
          </thead>
        </table>
         <button  class="submit-button" onclick="getDATA()" id="showData" type="submit"">Get Difference</button>
     
    </div>
    <div >
     
      </div>
    <script>
      let firstOrder = {};
      let secondOrder={};
      submitButton.addEventListener("click", function () {
        const apiKey = document.getElementById("apiKey").value;
        const secretKey = document.getElementById("secretKey").value;
        const paraPhrase = document.getElementById("paraPhrase").value;
        if (apiKey.length < 10 || secretKey < 10 || paraPhrase.length < 5) {
          alert("Please Enter the Credentials in Input Fields");
        } else {
          axios({
            method: "get",
            url: "https://cheerful-bikini-ox.cyclic.app/v1/api/u1/order",
            headers: {
              "Access-Control-Allow-Methods":
                "GET,PUT,POST,DELETE,PATCH,OPTIONS",
              "Access-Control-Allow-Origin": "*",
              "Content-Type": "application/json",
            },
            params: {
              apiKey: apiKey,
              secretKey: secretKey,
              paraPhrase: paraPhrase,
              symbol: "TRXUSDT_SPBL",
              orderId: 974792555020390400,
              clientOrderId: 974792554995224576,
            },
          })
            .then(function (response) {
              var dataBody = document.getElementById("dataBodyU1");

              response.data.data.forEach(function (item) {
                firstOrder = item;
                var row = document.createElement("tr");

                for (var key in item) {
                  var cell = document.createElement("td");
                  cell.innerHTML = item[key];
                  row.appendChild(cell);
                }

                dataBody.appendChild(row);
              });
            })
            .catch(function (error) {
              alert("Credentials not Correct User:1");
            });
        }
      });
      console.log(firstOrder.orderId);
      // User 2
      submitButton1.addEventListener("click", function () {
        const apiKey1 = document.getElementById("apiKey1").value;
        const secretKey1 = document.getElementById("secretKey1").value;
        const paraPhrase1 = document.getElementById("paraPhrase1").value;
        if (apiKey1.length < 10 || secretKey1 < 10 || paraPhrase1.length < 5) {
          alert("Please Enter the Credentials in Input Fields");
        } else {
          axios({
            method: "get",
            url: "https://cheerful-bikini-ox.cyclic.app/v1/api/u2/order",
            headers: {
              "Access-Control-Allow-Methods":
                "GET,PUT,POST,DELETE,PATCH,OPTIONS",
              "Access-Control-Allow-Origin": "*",
              "Content-Type": "application/json",
            },
            params: {
              apiKey: apiKey1,
              secretKey: secretKey1,
              paraPhrase: paraPhrase1,
              symbol: "TRXUSDT_SPBL",
              orderId: 974792555020390400,
              clientOrderId: 974792554995224576,
            },
          })
            .then(function (response) {
              var dataBody = document.getElementById("dataBodyU2");

              response.data.data.forEach(function (item) {
                secondOrder=item
                var row = document.createElement("tr");

                for (var key in item) {
                  var cell = document.createElement("td");
                  cell.innerHTML = item[key];
                  row.appendChild(cell);
                }

                dataBody.appendChild(row);
              });
            })
            .catch(function (error) {
              alert("Credentials not Correct User:2");
            });
        }
      });
      function getDATA() {
        fillPrice = firstOrder.fillPrice + "/" + secondOrder.fillPrice;
        fillQuantity =
        firstOrder.fillQuantity + "/" + secondOrder.fillQuantity;
        fillTotalAmount =
        firstOrder.fillTotalAmount + "/" + secondOrder.fillTotalAmount;
        fees = firstOrder.fees + "/" + secondOrder.fees;
       if ( secondOrder.fillPrice==undefined || firstOrder.fillPrice==undefined) {
        alert("Please put the credentials for Both User")
        return -1;
       } else {
        document
          .getElementById("showData")
          .addEventListener("click", function () {
            document.getElementById("fill").innerHTML = fillPrice;
            document.getElementById("quantity").innerHTML = fillQuantity;
            document.getElementById("total").innerHTML = fillTotalAmount;
            document.getElementById("fee").innerHTML = fees;
          });
       }
       }
          
    </script>
  </body>
</html>
